
address { 
    display: block;
    font-style: italic;
  }
  
body{
    margin: o;
    text-align: center;
}
.contact{
    text-align: left;
    margin: 20px auto 20px auto;
}
.form{
    padding-left: 50px;
}
h1{
    width: 80%;
    height: 50px;
    margin: 50px 20px auto 20px;
    text-align: left;
    color: aqua;
}
.navigation-bar {
    width: 100%;
    height: 150px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMDeZ_4v6RAzdNGQm6iQNguTvhM-Wcm1WptHIL8cW0So1dq2i3tQ");
    display: flex;
}
.navigation-bar-1 {
    width: 100%;
    height: 80px;
    display: flex;
}
.navigation-bar-1 a{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;       
    line-height: 80px;

}
.work{
    width: 100%;
    height: 350px;
    margin-top: 60px;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 80px;
    margin-right: 20px;
    margin-top: 15px;
    padding-left: 10px;   
}
.navigation-bar a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;       
    line-height: 80px;
} 
.introduction{
    
}
p{
    text-align: left;
    margin: auto 20px auto 20px;
    padding: 0 auto 20px auto;
}